@import "ember-mobile-pane/variables";

.mobile-pane {
  .mobile-pane__nav {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;

    // hide the scrollbar
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .nav__scroller {
      padding: 0;
      margin: 0;
      list-style:none;

      display: flex;
      flex-wrap: nowrap;

      .nav__item {
        white-space:nowrap;
        text-transform: uppercase;

        .item__link {
          display: block;
          color: $link-color;
          text-decoration: none;
          padding: 8px 16px;
          opacity: $link-opacity;

          &.active, &:active {
            opacity: $active-link-opacity;
            color: $active-link-color;
          }
        }
      }
    }

    .nav__indicator {
      position: absolute;
      bottom: 0;
      height: 3px;
      background: $indicator-bg;

      will-change: left, width;
    }
  }

  .mobile-pane__scroller {
    display: flex;

    will-change: transform;

    .mobile-pane__pane {
      width: 100%;
    }
  }

  &.mobile-pane--transitions:not(.mobile-pane--dragging) .mobile-pane__nav .nav__indicator{
    transition: left $transition-ease $transition-duration, width $transition-ease $transition-duration;
  }
  &.mobile-pane--transitions:not(.mobile-pane--dragging) .mobile-pane__scroller{
    transition: transform $transition-ease $transition-duration;
  }
}

.mobile-pane-old {
  position: relative;

  .mobile-pane__container {
    will-change: transform;
  }

  .mobile-pane__child {
    overflow: hidden;

    &.child--previous, &.child--next {
      position: fixed;
      top: 0;
      left: 0;
      max-height: 100vh;
    }

    &.child--current {
      touch-action: pan-y;
      height: 100%;
      overflow: auto;
    }

    &.child--previous {
      transform: translateX(-100vw);
    }

    &.child--next {
      transform: translateX(100vw);
    }
  }

  &.mobile-pane--transitioning .mobile-pane__container {
    transition: transform $transition-duration;
  }

  &.mobile-pane--dragging {
    .mobile-pane__container {
      transition: none;
    }
  }
}
