$transition-duration: 0.2s !default;
$transition-ease:     ease-out !default;

$link-color:          #333 !default;
$active-link-color:   #007bff !default;
$indicator-bg:        $active-link-color !default;
