{{mobile-pane/nav
  navItems=navItems
  activePane=activePane
  navOffset=navOffset
  onItemClick=(action 'changePane')
}}

<div class="mobile-pane__scroller" style={{scrollerStyle}}>
  {{yield
    (hash
      pane=(component 'mobile-pane/pane' parent=this)
    )
  }}
</div>