<ul class="nav nav-tabs">
  {{#each navItems as |navItem|}}
    <li class="nav-item">
      <a class="nav-link" {{action 'changePane' navItem}}>
        {{navItem.title}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="mobile-pane__scroller" style={{scrollerStyle}}>
  {{yield
    (hash
      pane=(component 'mobile-pane/pane' parent=this)
    )
  }}
</div>