{{mobile-pane/nav
  navItems=navItems
  navOffset=navOffset
  activePane=activePane
  activeIndex=activeIndex
  onItemClick=(action 'changePane')
}}

<div class="mobile-pane__scroller" style={{scrollerStyle}}>
  {{yield
    (hash
      pane=(component 'mobile-pane/pane'
        parent=this
        paneCount=childPaneCount
        visiblePanes=visiblePanes
        lazyRendering=_lazyRendering
      )
    )
  }}
</div>