<div ...attributes class="mobile-pane__child" style={{this.style}}>
  <div
    class="mobile-pane__child-transformable"
    {{did-insert (set this "transformableElement")}}
    {{did-insert this.setScrollOffset}}
  >
    {{yield}}
  </div>
</div>
