<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<MobilePane @activeIndex={{this.activeIndex}} @onChange={{fn (mut this.activeIndex)}} @strictLazyRendering={{true}} as |mp|>
  <mp.Scroller as |mps|>
    <mps.Pane>
      Pane 1
    </mps.Pane>
    <mps.Pane>
      Pane 2
    </mps.Pane>
    <mps.Pane>
      Pane 3
    </mps.Pane>
  </mp.Scroller>
  <mp.SimpleIndicator/>
</MobilePane>